body{
    font-size:12px;
    font-family:Arial;
}
div.simpleSearchDiv{
    background-color:#c40000;
    width:300px;
    margin:10px 20px 40px;
    padding:1px;
    height:40px;
    display:block;
}
div.simpleSearchDiv input{
    height:36px;
    width:225px;
    border:1px solid transparent;
    outline:none;
    margin:1px;
}
div.simpleSearchDiv button{
    width:60px;
    color:white;
    background-color: #C40000;
    border:1px solid transparent;
    font-size:14px;
    font-weight: bold;
}
div.searchBelow{
    margin-top:3px;
    margin-left:-20px;
}
div.searchBelow span{
    color:#999;
}
div.searchBelow a{
    font-size:14px;
    padding:0px 20px 0px 20px;
    color:#999;
}
div.searchBelow a:hover{
    color: #c40000;
    text-decoration:none;
}
img.logo{
    position:absolute;
    left:10px;
    top:20px;
}